<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="application/javascript">
  createTable(3);
  createTable(4);
  function createTable(num){
    var arr = new Array();
    var sum=1
    for(var i=0;i<num;i++){
      arr [i] = new Array();
    }
    for(var i=0;i<num;i++){
      for(var j=0;j<num;j++){
        if(i%2==0){
          arr[j][i] = sum;
        }else {
          arr[num-1-j][i] = sum;
        }
        sum++;
      }
    }
    console.log(arr);
    return arr;
  }
</script>
</body>
</html>